<body class = "bg-dark">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card px-5 py-5 justify-content-center" id="form1">
                    <h1>Editing Post</h1>

                    <%= render 'form', post: @post %>
                    <%= link_to 'Back', posts_path %>
                </div>
            </div>
        </div>
    </div>
</body>